<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config />
  <packageSources>
    <!-- Clear out machine-wide sources and explicitly add the source we want to use for our projects -->
    <clear />
    <add key="NuGetOrg" value="https://api.nuget.org/v3/index.json" />
    <!-- Do not add more sources in this file -->
  </packageSources>
  <packageSourceMapping>
    <packageSource key="NuGetOrg">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>